<div class="row">
    <div class="col-lg-4 flex-column ">
        <div class=" d-flex justify-content-center">
            <a href="#"><img src="~/img/clientes.png" alt="Alternate Text" width="200" height="200" /></a>
        </div>
        <div class="text-center">
            <label>Cadastro de Clientes</label>
        </div>
    </div>
    <div class="col-lg-4 flex-column ">
        <div class=" d-flex justify-content-center">
            <img src="~/img/vendedores.png" alt="Alternate Text" width="200" height="200" />
        </div>
        <div class="text-center">
            <label>Cadastro de Vendedores</label>
        </div>
    </div>
    <div class="col-lg-4 flex-column ">
        <div class=" d-flex justify-content-center">
            <img src="~/img/produtos.png" alt="Alternate Text" width="200" height="200" />
        </div>
        <div class="text-center">
            <label>Cadastro de Produtos</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 flex-column ">
        <div class=" d-flex justify-content-center">
            <img src="~/img/vendas.png" alt="Alternate Text" width="200" height="200" />
        </div>
        <div class="text-center">
            <label>Registro de Vendas</label>
        </div>
    </div>
    <div class="col-lg-4 flex-column ">
        <div class=" d-flex justify-content-center">
            <img src="~/img/relatorios.png" alt="Alternate Text" width="200" height="200" />
        </div>
        <div class="text-center">
            <label>Relatórios</label>
        </div>
    </div>
    <div class="col-lg-4 flex-column ">
        <div class=" d-flex justify-content-center">
            <img src="~/img/clientes.png" alt="Alternate Text" width="200" height="200" />
        </div>
        <div class="text-center">
            <label>Configurações</label>
        </div>
    </div>
</div>